.side-menu {
  width: 280px;
  transition: all 0.3s ease;
  z-index: 999;
  margin-top: 56px;

  &.collapsed {
    width: 80px;

    .list-group-item {
      text-align: center;

      .bi {
        margin-right: 0 !important;
        font-size: 1.2rem;
      }

      span:not(.badge) {
        display: none;
      }

      .badge {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }

    small {
      display: none;
    }
  }
}

.list-group-item {
  border: none;
  padding: 0.75rem 1rem;

  &.active {
    background-color: #e7f1ff;
    color: #0d6efd;
    border-color: #0d6efd;
  }

  &:hover:not(.active) {
    background-color: #f8f9fa;
  }
}
